header{
    width: 100%;
    height: 80px;
    background-color: white;
}

.logo{
    position: absolute;
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;
    margin-left: 20px;
}

ul{
    width: auto;
    margin-top: 8px;
    text-align: center;
    list-style: inside;
}

li{
    display: inline-block;
    padding: 15px 30px;
}

a{
    text-align: center;
    color: #868686;
    text-decoration: none;
    font-family: 'poppins', 'open sans';
    font-size: 24px;
}

a:hover{
    color: #000000;
    transition: .5s;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#hero{
    width:100%;
    height: 80%;
    background-color: white;
}
.content{
    width: 90%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content .info h1{
    font-size: 64px;
    margin-bottom: 24px;
    margin-top: 48px;
    font-family: 'Poppins Bold';
    color: black;
}

.content .info h2{
    font-size: 45px;
    margin-bottom: 24px;
    font-family: 'Poppins Bold';
    color: grey;
}

.content .info p{
    font-size: 24px;
    max-width: 70%;
    margin: 0 auto;
    margin: center;
    margin-bottom: 24px;
    font-family: 'IBM plex mono' , Arial, Helvetica, sans-serif;
    color: black;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    margin-bottom: 64px;
}

.fa:hover{
    opacity: 0.8;
}

.fa-linkedin{
    background: black;
    color: white;
}
.fa-twitter{
    background: black;
    color: white;
}
.fa-instagram{
    background: black;
    color: white;
}

footer{
    width: 100%;
    display: inline-block;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 0px;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
}

.inner_footer{
    display: inline-block;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
    align-items: center;
}

.inner_footer .footer_third{
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    position: relative;
    height: 100%;
    margin-left: 10px;
}

.inner_footer .footer_third h1{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: black;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third p{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    display: block;
    width: 100%;
    padding-bottom: 5px;
}

     footer {
        height: 300px;
        width: 100%;
        background-color: lightgray;
    }

    p.copyright {
        width: 100%;
        color:black;
        line-height: 40px;
        font-size: 0.7em;
        text-align: center;
        bottom:0;
    } 
      
      .wrapper1 {
        height: 400px;
        width: 1000px;
        margin: 50px auto;
        border-radius: 7px 7px 7px 7px;
        background-color: #8A1A19;
        margin-bottom: 10px;
      }

      .cs1img{
          height: 400px;
          width: 500px;
          float: right;
      }

      .cs1img img{
          height: 100%;
          width: 100%;
      }

      .cs1content{
          background-color: #8A1A19;
          Color:white;
          text-align: center;
          padding-top: 150px;
      }
      
     .cs1title{
         font-family: 'poppins', Arial, Helvetica, sans-serif;
         font-size: 42px;
     }

     .cs1text{
         font-family:'ibm plex mono', Arial, Helvetica, sans-serif;
         font-size: 18;
     }
     
     .wrapper1:hover{
        box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        outline: black 20px;
     }


     .wrapper2 {
        height: 400px;
        width: 1000px;
        margin: 50px auto;
        border-radius: 7px 7px 7px 7px;
        background-color: #27584C;
        margin-bottom: 50px;
      }

      .cs2img{
          height: 400px;
          width: 500px;
          float: right;
      }

      .cs2img img{
          height: 100%;
          width: 100%;
      }

      .cs2content{
          background-color:#27584C;
          Color:white;
          text-align: center;
          padding-top: 150px;
      }
      
     .cs2title{
         font-family: 'poppins', Arial, Helvetica, sans-serif;
         font-size: 42px;
     }

     .cs2text{
         font-family:'ibm plex mono', Arial, Helvetica, sans-serif;
         font-size: 18;
     }
     
     .wrapper2:hover{
        box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        outline: black 20px;
     }

     .wrapper3 {
        height: 400px;
        width: 1000px;
        margin: 50px auto;
        border-radius: 7px 7px 7px 7px;
        background-color: #03AB59;
        margin-bottom: 50px;
        
      }

      .cs3img{
          height: 400px;
          width: 500px;
          float: right;
      }

      .cs3img img{
          height: 100%;
          width: 100%;
      }

      .cs3content{
          background-color:#03AB59;
          Color:white;
          text-align: center;
          padding-top: 150px;
      }
      
     .cs3title{
         font-family: 'poppins', Arial, Helvetica, sans-serif;
         font-size: 42px;
     }

     .cs3text{
         font-family:'ibm plex mono', Arial, Helvetica, sans-serif;
         font-size: 18;
     }
     
     .wrapper3:hover{
        box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        outline: black 20px;
     }

     .grid-container{
         display:grid;
         grid-row-gap: 50px;
     }

     .industrySkills{
         font-size: 25px;
         font-family: 'poppins', Arial, Helvetica, sans-serif;
         margin-bottom: 5px;
     }
     .toolsandT{
        font-size: 25px;
        font-family: 'poppins', Arial, Helvetica, sans-serif;
        margin-bottom: 5px;
    }
    .otherSkills{
        font-size: 25px;
        font-family: 'poppins', Arial, Helvetica, sans-serif;
        margin-bottom: 5px;
    }
    .uxCerts{
        font-size: 25px;
        font-family: 'poppins', Arial, Helvetica, sans-serif;
        margin-bottom: 5px;
    }

     .flexContainer{
         display: flex;
         margin: 0 auto;
     }

     .skillsTitle{
         text-align: center;
         margin-bottom: 25px;
     }

     .industryskillsT{
        font-size: 18px;
        font-family: 'ibm plex mono', Arial, Helvetica, sans-serif;
        margin-bottom: 35px;
     }

     .tandtT{
        font-size: 18px;
        font-family: 'ibm plex mono', Arial, Helvetica, sans-serif;
        margin-bottom: 35px;
     }

     .otherskillsT{
        font-size: 18px;
        font-family: 'ibm plex mono', Arial, Helvetica, sans-serif;
        margin-bottom: 35px;
     }

     .uxcertsT{
        font-size: 18px;
        font-family: 'ibm plex mono', Arial, Helvetica, sans-serif;
        margin-bottom: 35px;
     }

     .skillsText{
         height: 100%;
         margin-right: 115px;
     }

     .skillsPhoto{
         margin-left: 200px;
     }

       
       .card {
        margin: 0 auto; 
        float: none; 
        margin-bottom: 10px; 
        text-align: center;
}

.research{
    text-align: center;
    font-size: 42px;
}

.defandIde{
    text-align: center;
    font-size: 42px;
}

.card-header{
    font-size: 42px;
}

.iLike{
    margin: auto;
}

.FPM{
    text-align: center;
    font-size: 42px;
}

.fpmIMG{
    margin: auto;
}

.wireframes{
    text-align: center;
    font-size: 42px;
}

.lfIMG{
    margin: auto;
}

.hfIMG{
    margin: auto;
}

.oIMG{
    margin: auto;
}

.cmIMG{
    margin: auto;
}
        @keyframes preloader{
            0%{
                transform: scale(0);
                opacity: 0;
            }
            50%{
                opacity: 1;
            }
            100%{
                transform: scale(1);
                opacity: 0;
            }
        }

     @media only screen and  (max-width: 600px){
         .flexContainer{
             width: 100%;
             display:grid;
             grid-template-rows: 50px;
         }
         
     }